extends layout.pug
 
block content 
  .container 
     h1 Create Application 
     
     if error 
       p.error Some error occured! Try again!

     if phoneError 
       p.phoneError Phone number must consist of only numbers! 

     if emailError 
       p.emailError Invalid email address! 
     
     if success 
       p.success Application is created!   

     form.form(action="/create" method='POST')
         label FullName  
         input.input(type="text" name='FullName')

         label Email 
         textarea.input(type="text" name="Email")

         label PhoneNumber 
         textarea.input(type="number" name="PhoneNumber")

         label Address 
         textarea.input(type="text" name="Address")

         label Dormitory 
              label TK
                input(type="radio" name = "Dormitory")
              label YZ 
                input(type="radio" name = "Dormitory")


         button.btn Save application  