doctype html
html(lang="en")
    head
        title Application app
        link(rel='stylesheet' href='/static/styles.css')
    body
       header.navbar 
        h1 
          a(href='/') Application App 

        nav.nav
         a(href='/applicants') All Applicants

    block content